* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(90, 175, 211);
    
} 

.container {
    margin: 0 50px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}

.loginflex {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 30px;
    
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

p {
    margin-top: 20px;
}

@media (max-width: 1180px) {

    .title {
        font-size: 4rem;
        
    }

}

@media (max-width: 850px) {

    .container {
        flex-direction: column;
        margin: 50px 50px;
        justify-content: center;
        align-items: first baseline;
        height: 100vh;
    }

}

@media (max-width: 600px) {

    .title {
        font-size: 3.5rem;
    }
}
